html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
  }
  
  html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */ /* 3 */
    tab-size: 4; /* 3 */
  }
  
  hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  b, strong {
    font-weight: bolder;
  }
  
  code, kbd, samp, pre {
    font-size: 1em; /* 2 */
  }
  
  small {
    font-size: 80%;
  }
  
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
  }
  
  button, input, optgroup, select, textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-weight: inherit; /* 1 */
    line-height: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
    min-width: 0;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
  }
  
  progress {
    vertical-align: baseline;
  }
  
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  [type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
  }
  
  [type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: auto;
    background: transparent;
  }
  
  input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  [type='number'], [type='text'] {
    background-color: transparent;
  }
  
  meter {
    display: flex;
    align-items: center;
    width: auto;
  }
  
  meter::-webkit-meter-bar {
    height: 1rem;
  }
  
  [type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    aspect-ratio: 1;
  }
  
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  summary {
    display: list-item;
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  textarea {
    resize: vertical;
  }
  
  input::placeholder, textarea::placeholder {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
  }
  
  button, [role="button"] {
    cursor: pointer;
  }
  
  :disabled {
    cursor: default;
  }
  
  img, svg, video, canvas, audio, iframe, embed, object {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
  }
  
  img, video {
    max-width: 100%;
    height: auto;
  }
  
  html, body {
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
  }
  
  :focus {
    outline: none;
  }
  
  div, section {
    min-height: 0;
  }
  

  input[type=file] {
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer;
}

input[type=file]:disabled, /* FF, IE7+, chrome (except button) */
input[type=file]:disabled::-webkit-file-upload-button { /* chromes and blink button */
    cursor: default;
}
